* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fefefe;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  position: relative;
  background-image: url(https://images.pexels.com/photos/74177/cat-74177.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
@media(max-width: 768px) {
  .header {
    height: 100vh;
  }
}
.header .titleBox {
  position: relative;
  text-align: center;
}
.header .titleBox h1, .header .titleBox h2 {
  margin: 0;
  color: white;
  font-weight: 500;
}
.header .titleBox h1 {
  font-size: 3.25rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media(max-width: 768px) {
  .header .titleBox h1 {
    font-size: 2.5rem;
  }
}
@media(max-width: 768px) {
  .header .titleBox h2 {
    margin: 8px 0;
    font-size: 1.25rem;
  }
}
.header .titleBox .icon {
  margin-right: 10px;
  color: #DD4E00;
}
@media(max-width: 768px) {
  .header .titleBox .icon {
    display: none;
  }
}
.header .titleBox .subTitle {
  padding: 2px 10px;
  background-color: #F78500;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contender {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
.contender .flexBox {
  display: flex;
}
@media(max-width: 768px) {
  .contender .flexBox {
    flex-direction: column;
  }
}
.filter {
  flex: 1;
  width: 20%;
  padding: 5px;
  margin-right: 5px;
}
@media(max-width: 768px) {
  .filter {
    margin: 20px 0;
    width: 100%;
  }
}
.filter .selectBox {
  position: relative;
}
.filter .selectBox * {
  font-size: 14px;
}
.filter .selectBox .select {
  position: relative;
  font-weight: 700;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.filter .selectBox .select:hover, .filter .selectBox .select.active {
  border: 1px solid #F78500;
  box-shadow: 0 0 0 1px rgba(247, 133, 0, 0.2);
}
.filter .selectBox .select:hover:after, .filter .selectBox .select.active:after {
  border-top: 8px solid #F78500;
}
.filter .selectBox .select.active {
  box-shadow: 0 0 0 1.5px rgba(247, 133, 0, 0.5), 0 0 5px rgba(247, 133, 0, 0.9);
}
.filter .selectBox .select:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 12px;
  border-top: 8px solid #a9a9a9;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}
.filter .selectBox .optionBox {
  position: absolute;
  width: 100%;
  bottom: -105px;
  font-weight: 700;
  margin-top: 10px;
  border: 1px solid #F78500;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.8);
}
.filter .selectBox .optionBox.opt-hide {
  display: none;
}
.filter .selectBox .optionBox:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #F78500;
  border-left: 1px solid #F78500;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -7.02135785px;
  right: 20px;
  background-color: #fff;
}
.filter .selectBox .optionBox .option {
  position: relative;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
}
.filter .selectBox .optionBox .option:first-child {
  border-radius: 5px 5px 0 0;
}
.filter .selectBox .optionBox .option:last-child {
  border-radius: 0 0 5px 5px;
}
.filter .selectBox .optionBox .option:hover {
  background-color: #F78500;
  color: white;
}

ul.hospitalBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}
@media(max-width: 768px) {
  ul.hospitalBox {
    width: 100%;
  }
}
ul.hospitalBox li.hospital {
  width: 32.5%;
  margin: 10px 1px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: 8px solid #F78500;
  overflow: hidden;
  transition: 0.5s;
}
ul.hospitalBox li.hospital:hover .img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media(max-width: 900px) {
  ul.hospitalBox li.hospital {
    width: 49%;
  }
}
@media(max-width: 768px) {
  ul.hospitalBox li.hospital {
    width: 49%;
  }
}
@media(max-width: 420px) {
  ul.hospitalBox li.hospital {
    width: 100%;
  }
}
ul.hospitalBox li.hospital .imgBox {
  position: relative;
  overflow: hidden;
}
ul.hospitalBox li.hospital .imgBox .img {
  height: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
ul.hospitalBox li.hospital .imgBox .district {
  position: absolute;
  bottom: 10px;
  background-color: rgba(247, 133, 0, 0.9);
  color: white;
  font-weight: 700;
  padding: 2px 10px;
}
ul.hospitalBox li.hospital .content {
  padding: 10px;
}
ul.hospitalBox li.hospital .content h2.title {
  margin: 10px 0;
}
ul.hospitalBox li.hospital .content .icon {
  margin-right: 5px;
}
ul.hospitalBox li.hospital .content ul {
  margin: 15px 0;
}
ul.hospitalBox li.hospital .content ul li {
  font-size: 12px;
  margin: 5px 0;
  color: #a9a9a9;
}
ul.hospitalBox li.hospital .content span.pet {
  padding: 2px 20px;
  background-color: #c36b03;
  margin: 0 1px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
