<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>台中動物醫院地圖｜ Taichung Animal Hospital Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/notosanstc.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<div id="app">
  <header class="header">
    <div class="titleBox">
      <h1 class="title">台中動物醫院地圖</h1>
      <h2> <span class="icon fas fa-map-marker-alt"></span><span class="subTitle">Taichung Animals Hospital Map</span></h2>
    </div>
  </header>
  <section class="section">
    <div class="contender">
      <div class="flexBox">
        <div class="filter">
          <h3>區域選擇</h3>
          <div class="selectBox"> 
            <div class="select" @click="optionClick()">{{AppData.OptionSelect}}</div>
            <div class="optionBox opt-hide">
              <div class="option" @click="optionSelect('全部')">全部</div>
              <div class="option" v-for="Btn in AppData.District" @click="optionSelect(Btn)">{{Btn}}</div>
            </div>
          </div>
        </div>
        <ul class="hospitalBox">
          <li class="hospital" v-for="Data in AppData.hospitalData">
            <div class="imgBox">
              <div class="img" :style="'background-image: url('+ Data.outward + ')'"></div>
              <div class="district">{{Data.district}}</div>
            </div>
            <div class="content">
              <h2 class="title">{{Data.name}} </h2>
              <ul>
                <li class="address"><span class="icon fas fa-map-marker-alt"></span><span>{{Data.address}}</span></li>
                <li class="openTime"> <span class="icon fas fa-clock"></span><span>{{Data.time}}</span></li>
              </ul><span class="pet" v-for="Pet in Data.pet">{{Pet}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
